﻿@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#boxContainer {
    border: 2px solid black;
    min-width: 500px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

#teamName {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#centerButton {
    display: block;
    width: 100%;
}

.textCenter {
    text-align: center;
    display: block;
    padding-top: 125px;
}

.gameBox {
    border: 5px outset gray;
    min-height: 125px;
    display: block;
    margin-bottom: 10px;
    background-color: lightgray
}

.date {
    text-align: center;
    font-size: 20px;
}

.Home, .Away, .vs, .date {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.vs {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.mainLetter {
    color:darkmagenta;
    font-size: 65px;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-family: 'Black Ops One', cursive;
}

.addbutton {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 275px;
    min-width: 275px;
}

.formitem {
    margin-left: auto;
    margin-right: auto;
}

.entrylabel {
    padding-left: 25%;
    padding-bottom: 5px;
}
.selectitem {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.tablesetting {
    padding-right: 20px
}

.formentry {
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
