﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap-cyborg.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SG Corp.", "GetAllApplications", "HRPortal", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @*DropDown on the right side.*@
                @*TimeSheets*@
                <div class="navbar-right btn-group" style="padding-top: 9px; padding-left: 20px;">
                    @Html.ActionLink("Time Tracking", "SubmitTimesheet", "TimeSheet", null, new { @class = "btn btn-primary" })
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Submit Time", "SubmitTimesheet", "TimeSheet")</li>
                        <li>@Html.ActionLink("View Timesheet", "ViewTimesheet", "TimeSheet")</li>
                    </ul>
                </div>
                @*Policies*@
                <div class="navbar-right btn-group" style="padding-top: 9px; padding-left: 20px;">
                    @Html.ActionLink("Policies", "ViewPolicies", "HRPortal", null, new {@class = "btn btn-primary"})
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("View Policies", "ViewPolicies", "HRPortal")</li>
                        <li>@Html.ActionLink("Manage Categories", "ManageCategories", "HRPortal")</li>
                        <li>@Html.ActionLink("Manage Policies", "ManagePolicies", "HRPortal")</li>
                    </ul>
                </div>
                @*Employees*@
                <div class="navbar-right btn-group" style="padding-top: 9px;">
                    @Html.ActionLink("Employees", "ListEmployees", "Employee", null, new { @class = "btn btn-primary" })
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add Employee", "AddEmployee", "Employee")</li>
                        <li>@Html.ActionLink("View Timesheet", "ViewTimesheet", "TimeSheet")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer class="footer navbar-fixed-bottom">
            <p>&copy; @DateTime.Now.Year - SG Corp. Application Portal</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>