﻿@using SportsLeague.Model.Models

@model SportsLeague.Model.Models.League
@{
    ViewBag.Title = "New Team";
}

<h2>New Team Creation</h2>

<div id="boxContainer">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6">
                @using (@Html.BeginForm("CreateTeamPost", "Team", FormMethod.Post, new {id = "form"}))
                {
                    @Html.HiddenFor(t => t.LeagueId)
                    <h1 style="display: block; text-align: center">Welcome</h1>
                    <label class="textCenter"><h4>Team Name</h4></label>
                    @Html.TextBox("teamName", null, new { @class = "form-control", id = "teamName", required = "required" })

                    <button type="submit" class="btn btn-default" id="centerButton">Next</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#form').validator();
        });
    </script>
}