﻿@using SportsLeague.Model.Models
@model SportsLeague.UI.Models.TeamPlayersVm

@{
    ViewBag.Title = "GetPlayers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Players</h2>

<div id="boxContainer">
    <h2 style="text-align: center">@Model.NewTeam.TeamName's Roster</h2>
    <div class="row">
        @using (@Html.BeginForm("GetPlayers", "Team", FormMethod.Post, new {id = "GetPlayers"}))
        {
            @Html.HiddenFor(t => t.NewTeam.TeamId)
            <div class="form-group">
                <div class="col-lg-6">
                    <div class="entrylabel">Position</div>
                    <select name="positionID" class="form-control selectitem">
                        @foreach (var position in Model.PositionList)
                        {
                            <option value="@position.PositionId">@position.PositionName</option>
                        }
                    </select>
                    <div class="entrylabel">First Name</div>
                    @Html.TextBoxFor(t => t.NewPlayer.FirstName, new {@class = "form-control formitem", id = "firstName", required = "required"})
                    <div class="entrylabel">Last Name</div>
                    @Html.TextBoxFor(t => t.NewPlayer.LastName, new {@class = "form-control formitem", id = "lastName", required = "required"})
                    <div class="entrylabel">Jersey #</div>
                    @Html.TextBoxFor(t => t.NewPlayer.JerseyNumber, new {@class = "form-control formitem", id = "Jersey", required = "required"})
                    <button type="submit" class="btn btn-info center-block addbutton">Add Player</button>
                </div>
            </div>

            <div class="col-lg-6">
                @if (Model.NewTeam.Players.Count != 0)
                {
                    <div class="tablesetting">
                        <table class="table table-responsive table-striped table-hover ">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Jersey #</th>
                            </tr>
                            </thead>
                            @foreach (var player in Model.NewTeam.Players)
                            {
                                <tr>
                                    <td>@player.FirstName</td>
                                    <td>@player.LastName</td>
                                    <td>@player.JerseyNumber</td>
                                </tr>
                            }
                        </table>
                        @Html.ActionLink("Finish", "TeamHomepage", "Team", new {id = @Model.NewTeam.TeamId}, new {@class = "btn btn-success center-block addbutton"})
                    </div>
                }
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#GetPlayers').validator();
        });
    </script>
}