﻿@model SportsLeague.UI.Models.TradePlayerVm
@{
    ViewBag.Title = "SelectPlayerTrade";
}

<h2>Trade</h2>

<div id="boxContainer">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6">
                @using (@Html.BeginForm("CompletePlayerTrade", "Team", FormMethod.Post))
                {
                    @Html.HiddenFor(m=>m.Team1.TeamId)
                    <h1 style="display: block; text-align: center">Select Player</h1>
                    <div class="entrylabel">@Model.Team1.TeamName</div>
                    <select name="player1" class="form-control selectitem" onchange="checkDropDowns();">
                        @foreach (var item in Model.Team1.Players)
                        {
                            <option value="@item.PlayerId">@item.FirstName @item.LastName</option>
                        }
                    </select>
                    @Html.HiddenFor(m=>m.Team2.TeamId)
                    <div class="entrylabel">@Model.Team2.TeamName</div>
                    <select name="player2" class="form-control selectitem" onchange="checkDropDowns();">
                        @foreach (var item in Model.Team2.Players)
                        {
                            <option value="@item.PlayerId">@item.FirstName @item.LastName</option>
                        }
                    </select>

                    <button type="submit" class="btn btn-success" id="centerButton">Trade</button>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#player1').change(
                checkDropDowns()
            );
            $('#player2').change(
                checkDropDowns()
            );
        });

        function checkDropDowns() {
            if ($('#player1').val() == $('#player2').val()) {
                $('#centerButton').prop('disabled', true);
            } else {
                $('#centerButton').prop('disabled', false);
            }
        }
    </script>
}
