﻿@model SportsLeague.Model.Models.Team
@{
    ViewBag.Title = "TeamHomepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">@Model.TeamName</h2>
<div class="boxContainer">
    <div>
        @using (Html.BeginForm("AddPlayer", "Team"))
        {
            @Html.HiddenFor(t => t.TeamId)
            <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 5px;">Add Player</button>
        }
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var player in Model.Players)
        {
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: purple" role="tab" id="headingOne@(player.PlayerId)">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne@(player.PlayerId)" aria-expanded="true" aria-controls="collapseOne@(player.PlayerId)">
                            <div class="label center-block">@player.FirstName, @player.LastName </div>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne@(player.PlayerId)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne@(player.PlayerId)">
                    <div class="panel-body">
                        <div align="center">@player.FirstName @player.LastName</div>
                        @using (Html.BeginForm("DeletePlayer", "Team", FormMethod.Post))
                        {
                            @Html.Hidden("playerID", player.PlayerId)
                            @Html.Hidden("teamID", Model.TeamId)
                            <div align="right">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        }

                        <div class="col-md-3">
                            <div align="left">Jersey Number : @player.JerseyNumber</div>
                            <div align="left">
                                Positions :
                                @foreach (var position in player.Positions)
                                {
                                    @position.PositionName
                                    <br />
                                }
                            </div>
                        </div>
                        <div class="col-md-9 col-md-offset-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>FGA</th>
                                        <th>FGM</th>
                                        <th>FTA</th>
                                        <th>FTM</th>
                                        <th>Steals</th>
                                        <th>Blocks</th>
                                        <th>Assists</th>
                                        <th>Rebounds</th>
                                        <th>Points</th>
                                        <th>Minutes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var stat in player.PlayerGameStats)
                                    {
                                        <tr>
                                            <td>@stat.FGA</td>
                                            <td>@stat.FGM</td>
                                            <td>@stat.FTA</td>
                                            <td>@stat.FTM</td>
                                            <td>@stat.Steals</td>
                                            <td>@stat.Blocks</td>
                                            <td>@stat.Assist</td>
                                            <td>@stat.Rebounds</td>
                                            <td>@stat.Points</td>
                                            <td>@stat.Minutes</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    <script>
        function myFunction(option, option2) {

            var value = option.value;
            
           

            alert(value + option2.value);
            return (value);       
        }

    </script>
  
}
