﻿@model List<SportsLeague.Model.Models.Team>
@{
    ViewBag.Title = "TradePlayer";
}

<h2>Trade</h2>

<div id="boxContainer">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6">
                @using (@Html.BeginForm("SelectPlayerTrade", "Team", FormMethod.Get, new {id = "selectTeam"}))
                {
                    <h1 style="display: block; text-align: center">Select Team</h1>
                    <div class="entrylabel">Team One</div>
                    <select name="team1" class="form-control selectitem" id="ddl1" onchange="checkDropDowns();">
                        @foreach (var item in Model)
                        {
                            <option value="@item.TeamId">@item.TeamName</option>
                        }
                    </select>
                    <div class="entrylabel">Team Two</div>
                    <select name="team2" class="form-control selectitem" id="ddl2" onchange="checkDropDowns();">
                        @foreach (var item in Model)
                        {
                            <option value="@item.TeamId">@item.TeamName</option>
                        }
                    </select>

                    <button type="submit" class="btn btn-default" id="centerButton">Next</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#ddl1').change(
                checkDropDowns()
            );
            $('#ddl2').change(
                checkDropDowns()
            );
        });

        function checkDropDowns() {
            if ($('#ddl1').val() == $('#ddl2').val()) {
                $('#centerButton').prop('disabled', true);
            } else {
                $('#centerButton').prop('disabled', false);
            }
        }
    </script>
}