﻿<style>
    #description {
        display: block;
        min-width: 100%;
        min-height: 150px;
    }
</style>
<div class="modal fade" id="addCarModal" tabindex="-1" role="dialog" aria-labelledby="addCar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Vehicle Information</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Make</label>
                        <input type="text" id="make" class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Model</label>
                        <input type="text" id="model" class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Year</label>
                        <input type="text" id="year" class="form-control" placeholder="ex. 2015" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Mileage</label>
                        <input type="text" id="mileage" class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Price</label>
                        <div class="input-group">

                            <span class="input-group-addon">$</span>
                            <input type="text" id="price" class="form-control" />
                        </div>

                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <label for="condition">Condition</label>
                            <select class="form-control" id="condition">
                                <option value="1">New</option>
                                <option value="2">Used</option>
                                <option value="3">Certified Pre-Owned</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label>Description</label>
                        <textarea name="description" id="description" class="form-control" placeholder="Additional Informations..."></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form id="imgUploadForm">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-warning btn-file">
                                        Browse&hellip;<input id="fileUpload" name="files" type="file">
                                    </span>

                                </span>
                                <input type="text" class="form-control" placeholder="Image file" readonly>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSaveCar">Add to inventory</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>