﻿
<div class="modal fade" id="informationRequestForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="informationRequest">Information Request Form</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div>
                        <label>Name: </label>
                        <input type="text" class="form-control" id="name" placeholder="Name"/>
                    </div>
                    <div>
                        <label>Phone Number: </label>
                        <input type="text" class="form-control" id="phone" placeholder="Phone Number"/>
                    </div>
                    <div>
                        <label>E-Mail: </label>
                        <input type="text" class="form-control" id="email" placeholder="E-Mail"/>
                    </div>
                    <div>
                        <label>Which way would you prefer us to contact you? </label>
                        <label class="radio-inline">
                            <input type="radio" id="contactPhone" value="contactPhone"> Phone
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="contactEmail" value="contactEmail"> E-Mail
                        </label>   
                        <label class="radio-inline">
                            <input type="radio" id="contactBoth" value="contactBoth"> Phone or E-Mail
                        </label>
                    </div>
                    <div>
                        <label>If by Phone, When would be the Best Time to Call? </label>
                        <input type="text" class="form-control" id="whenToCall" />
                    </div>
                    <div>
                        <label>When are you looking to make a purchase? </label>
                        <input type="text" class="form-control" id="timeframe" />
                    </div>
                    <div>
                        <label>Is there any other Information that you would like to add? </label>
                        <textarea class="form-control" id="otherInfo" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <input type="button" value="Submit Request" id="submitInformationRequest" class="btn btn-success"/>
            </div>
        </div>
    </div>
</div>