﻿@model Models.Employee

@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="panel col-md-8 col-md-offset-2" style="margin-top: 75px;">
    <div class="panel-body">
        <h2 align="center">Add Employee</h2>
        @using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(e => e.FirstName)
                @Html.TextBoxFor(e => e.FirstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.LastName)
                @Html.TextBoxFor(e => e.LastName)
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.HireDate)
                @Html.EditorFor(e => e.HireDate)
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        }
    </div>
</div>


