﻿@model List<Models.Employee>

@{
    ViewBag.Title = "ListEmployees";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="panel col-md-3" style="float: left; margin-top: 150px;" data-spy="scroll">
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li class="navList" role="presentation">@Html.ActionLink("Add Employee", "AddEmployee", "Employee")</li>
            <li class="navList" role="presentation">@Html.ActionLink("View Time Sheet", "ViewTimesheet", "TimeSheet")</li>
        </ul>
    </div>
</div>

<div class="panel col-md-8" align="center" style="margin-left: 75px; margin-top: 75px;">
    <div class="panel-body">
        <h2>Employees</h2>
       
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Hire Date</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.OrderByDescending(e => e.HireDate))
                    {
                        <tr>
                            <td>@employee.FirstName</td>
                            <td>@employee.LastName</td>
                            <td>@employee.HireDate.ToString("MMM-dd-yyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>


