﻿@model Models.Application

@{
    ViewBag.Title = "ApplicationForm";
}

<div align="center">
    <h1>Application Form</h1>

    <h3>Please fill out the Following Information:</h3>
</div>


@using (Html.BeginForm("ApplicationForm", "Application", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div align="center">
        <span>@Html.ValidationMessageFor(a => a.Name)</span>
        <p>
            <label class="col-md-3 col-md-offset-2">Name: </label>
            @Html.TextBoxFor(a => a.Name, new {@class = "col-md-3 col-md-offset 2"})
        </p>
        <div class="clearfix visible-md visible-sm visible-lg"></div>
        <span>@Html.ValidationMessageFor(a => a.PhoneNumber)</span>
        <p>
            <label class="col-md-3 col-md-offset-2">Phone Number: </label>
            @Html.TextBoxFor(a => a.PhoneNumber, new {@class = "col-md-3 col-md-offset 2"})
        </p>
        <div class="clearfix visible-md visible-sm visible-lg"></div>
        <span>@Html.ValidationMessageFor(a => a.Email)</span>
        <p>
            <label class="col-md-3 col-md-offset-2">E-Mail: </label>
            @Html.TextBoxFor(a => a.Email, new {@class = "col-md-3 col-md-offset 2"})
        </p>
        <div class="clearfix visible-md visible-sm visible-lg"></div>
        <span>@Html.ValidationMessageFor(a => a.Skillset)</span>
        <p>
            <label class="col-md-3 col-md-offset-2">Relevant Skills: </label>
            @Html.TextAreaFor(a => a.Skillset, new {@class = "col-md-3 col-md-offset 2"})
        </p>
        <div class="clearfix visible-md visible-sm visible-lg"></div>
        <span>@Html.ValidationMessageFor(a => a.WorkExp)</span>
        <p>
            <label class="col-md-3 col-md-offset-2">Work Experience: </label>
            @Html.TextAreaFor(a => a.WorkExp, new {@class = "col-md-3 col-md-offset 2"})
        </p>
        <div class="clearfix visible-md visible-sm visible-lg"></div>
        <span>@Html.ValidationMessageFor(a => a.JobInterest)</span>
        <p>
            <label class="col-md-3 col-md-offset-2">Why do you want this job? </label>
            @Html.TextAreaFor(a => a.JobInterest, new { @class = "col-md-3 col-md-offset 2" })
        </p>
        <div class="clearfix visible-md visible-sm visible-lg"></div>
        <br />
        <br />
        <p>
            <button class="col-md-2 col-md-offset-6 btn btn-success">Submit Application</button>
        </p>
</div>
}