﻿
@{
    ViewBag.Title = "AppSubmit";
}


<div class="alert alert-success" role="alert" align="center">
    <h1>Success!</h1>
</div>

<div class="alert alert-info" role="alert" align="center">
    <p>Your Application has been submitted Successfully!</p>
    <br/>
    <p>Someone from our HR department will reach out to you soon.</p>
</div>
