﻿
@{
    ViewBag.Title = "Index";
}
<div align="center">
    <h1>Welcome to SG Corp!</h1>

    <h3>Press the Button below to fill out our Application!</h3>
</div>

<br/><br/><br/>

<div align="center">
    @Html.ActionLink("Go to Application!", "ApplicationForm", "Application", null, new { @class = "btn btn-info btn-lg btn-block" })
</div>

