﻿@model List<Models.Application>

    @foreach (var application in Model)
    {
        if (application.ReviewStatus == ViewData["status"].ToString())
        {
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th class="col-md-4">Name</th>
                        <th class="col-md-4 col-md-offset-6">Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@application.Name</td>
                        <td>@application.Email</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal@(application.Id)">
                                View Details
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal@(application.Id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 align="center" class="modal-title" id="myModalLabel">Applicant Info</h4>
                                            <div align="Right">
                                                @Html.ActionLink("Edit Info", "EditApplicationInfo", "HRPortal", new {id = application.Id}, new {@class = "btn btn-danger"})
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div align="center">
                                                <p>
                                                    <label>Name: </label>
                                                    @application.Name
                                                </p>
                                                <p>
                                                    <label>E-Mail: </label>
                                                    @application.Email
                                                </p>
                                                <p>
                                                    <label>Phone Number: </label>
                                                    @application.PhoneNumber
                                                </p>
                                                <p>
                                                    <label>Work Experience: </label>
                                                    @application.WorkExp
                                                </p>
                                                <p>
                                                    <label>Why do you want this job? </label>
                                                    @application.JobInterest
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            @using (@Html.BeginForm("ApplicationDeleteForm", "Application", FormMethod.Post))
                            {
                                @Html.Hidden("id", application.Id)
                                <input type="submit" value="Delete" class="btn btn-danger"/>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    }
            