﻿@using Models
@model List<Models.Category>

@{
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

@if (ViewData["alertMsg"] != null && ViewData["userMsg"] != null)
{
    <div class="@ViewData["alertMsg"].ToString()" role="alert">@ViewData["userMsg"].ToString()</div>
}
<h2>Add a Policy</h2>

<div>
    <button type="button" class="btn btn-info btn-block btn-default" data-toggle="modal" data-target="#myModal">
        Add Policy
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("AddPolicy", "HRPortal", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 align="center" class="modal-title" id="myModalLabel">Add Policy</h4>
                    </div>
                    <div class="modal-body">
                        <div align="center">
                            <div class="dropdown">
                                <select id="categoryId" name="categoryId" class="form-control">
                                    @foreach(var category in Model)
                                    {
                                        <option id="categoryId" name="categoryId" value="@category.Id">@category.Type</option>
                                    }
                                </select>
                            </div>
                            <br/>
                            <p>@Html.ValidationMessageFor(p => new Policy().Title)</p>
                            <p>
                                <label>Title: </label>
                                @Html.TextBoxFor(p => new Policy().Title)
                            </p>
                            <p>@Html.ValidationMessageFor(p => new Policy().Content)</p>
                            <p>
                                <label>Content: </label>
                                @Html.TextBoxFor(p => new Policy().Content)
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
            }
            </div>
        </div>
    </div>
</div>