﻿@model Models.Application

@{
    ViewBag.Title = "EditApplicationInfo";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div align="center">
    <h1>Edit Application Information</h1>
</div>

<div class="col-md-5 col-md-offset-3">
    @using (Html.BeginForm("EditApplicationInfo", "HRPortal", FormMethod.Post))
    {
        <form class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(a => a.Id)

            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <p>@Html.ValidationMessageFor(a => a.Name)</p>
                    <p>@Html.TextBoxFor(a => a.Name, new { placeholder = Model.Name })</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <p>@Html.ValidationMessageFor(a => a.PhoneNumber)</p>
                    <p>@Html.TextBoxFor(a => a.PhoneNumber, new { placeholder = Model.PhoneNumber })</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">E-mail</label>
                <div class="col-sm-10">
                    <p>@Html.ValidationMessageFor(a => a.Email)</p>
                    <p> @Html.TextBoxFor(a => a.Email, new { placeholder = Model.Email })</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Skillset</label>
                <div class="col-sm-10">
                    <p>@Html.ValidationMessageFor(a => a.Skillset)</p>
                    <p>@Html.TextAreaFor(a => a.Skillset, new { placeholder = Model.Skillset })</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Work Experience</label>
                <div class="col-sm-10">
                    <p>@Html.ValidationMessageFor(a => a.WorkExp)</p>
                    <p>@Html.TextAreaFor(a => a.WorkExp, new { placeholder = Model.WorkExp })</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Why Interested in Job</label>
                <div class="col-sm-10">
                    <p>@Html.ValidationMessageFor(a => a.JobInterest)</p>
                    <p>@Html.TextAreaFor(a => a.JobInterest, new { placeholder = Model.JobInterest })</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Review Status </label>
                <div class="col-sm-10">
                    <p>@Html.DropDownListFor(m => m.ReviewStatus,
                           new List<SelectListItem>()
                           {
                               new SelectListItem {Value = "NotReviewed", Text = "Not Reviewed"},
                               new SelectListItem {Value = "Reviewed", Text = "Reviewed"},
                               new SelectListItem {Value = "Rejected", Text = "Rejected"},
                               new SelectListItem {Value = "Accepted", Text = "Accepted"},
                           }, new {placeholder = Model.ReviewStatus})</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <p><button type="submit" class="btn btn-info">Save Changes</button></p>
                </div>
            </div>
        </form>
    }
</div>