﻿@model List<Models.Application>

@{
    ViewBag.Title = "GetAllApplications";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

@if (ViewData["alertMsg"] != null && ViewData["userMsg"] != null)
{
    <div class="@ViewData["alertMsg"].ToString()" role="alert">@ViewData["userMsg"].ToString()</div>
}

<div class="col-md-8 col-md-offset-2">
    <h2 align="center">HR Admin Portal</h2>
</div> 
<div class="clearfix visible-md visible-sm visible-lg"></div>

<div>
    @if (Model.Any())
    {
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="reviewedOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#reviewed" aria-expanded="true" aria-controls="reviewed">
                            Reviewed
                        </a>
                    </h4>
                </div>
                <div id="reviewed" class="panel-collapse collapse" role="tabpanel" aria-labelledby="reviewedOne">
                    <div class="panel-body">
                        @{Html.RenderPartial("_CollapseApplications", Model, new ViewDataDictionary { { "status", "Reviewed" } });}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="notReviewedOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#notReviewed" aria-expanded="true" aria-controls="notReviewed">
                            Not Reviewed
                        </a>
                    </h4>
                </div>
                <div id="notReviewed" class="panel-collapse collapse" role="tabpanel" aria-labelledby="notReviewedOne">
                    <div class="panel-body">
                        @{Html.RenderPartial("_CollapseApplications", Model, new ViewDataDictionary { { "status", "Not Reviewed" } });}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rejectedOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#rejected" aria-expanded="true" aria-controls="rejected">
                            Rejected
                        </a>
                    </h4>
                </div>
                <div id="rejected" class="panel-collapse collapse" role="tabpanel" aria-labelledby="rejectedOne">
                    <div class="panel-body">
                        @{Html.RenderPartial("_CollapseApplications", Model, new ViewDataDictionary { { "status", "Rejected" } });}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="acceptedOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#accepted" aria-expanded="true" aria-controls="accepted">
                            Accepted
                        </a>
                    </h4>
                </div>
                <div id="accepted" class="panel-collapse collapse" role="tabpanel" aria-labelledby="acceptedOne">
                    <div class="panel-body">
                        @{Html.RenderPartial("_CollapseApplications", Model, new ViewDataDictionary { { "status", "Accepted" } });}
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>You don't have any applications right now. Try again later.</p>
    }
</div>




