﻿
@{
    ViewBag.Title = "Index";
}

<div align="center" class="col-md-6 col-md-offset-3">
    <h1>Welcome Human Resources Administrator</h1>
</div>
<br />
<br />
<div class="col-md-8 col-md-offset-2">
    <h3 align="center">LogIn Info</h3>
    <div align="center">
    @Html.ActionLink("See All Applications", "GetAllApplications", "HRPortal", null, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>


