﻿@using Models
@model List<Models.Category>

@{
    ViewBag.Title = "ManageCategories";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

@if (ViewData["alertMsg"] != null && ViewData["userMsg"] != null)
{
    <div class="@ViewData["alertMsg"].ToString()" role="alert">@ViewData["userMsg"].ToString()</div>
}

<h2 align="center">Manage Categories</h2>
<br />
<br />
<div>
    <button type="button" class="btn btn-info btn-block btn-default" data-toggle="modal" data-target="#myModal">
        Add Category
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("AddCategory", "HRPortal", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 align="center" class="modal-title" id="myModalLabel">Add Category</h4>
                    </div>
                    <div class="modal-body">
                        <div align="center">
                            <p>@Html.ValidationMessageFor(c => new Category().Type)</p>
                            <p>
                                <label>Type: </label>
                                @Html.TextBoxFor(c => new Category().Type)
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div align="center">

    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <td>Category Name</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    using (Html.BeginForm("RemoveCategory", "HRPortal", FormMethod.Post))
                    {
                        @Html.HiddenFor(c => category.Type)
                        @Html.HiddenFor(c => category.Id)
                        <tr>
                            <td>@category.Type</td>
                            <td><button type="submit" class="btn btn-danger btn-sm">Delete Category</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>