﻿@model Models.Policy

@{
    ViewBag.Title = "ViewSpecificPolicy";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}


<h2 align="center">Specific Policy</h2>
<div class="col-md-8 col-md-offset-2" align="center">
    <p>
        <label>Title: </label>
        @Model.Title
    </p>
    <p>
        <label>Content: </label>
        @Model.Content
    </p>
</div>

