﻿@model List<HRPortal.UI.Models.CategoryWithPolicyList>

@{
    ViewBag.Title = "ViewPolicies";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
@if (ViewData["alertMsg"] != null && ViewData["userMsg"] != null)
{
    <div class="@ViewData["alertMsg"].ToString()" role="alert">@ViewData["userMsg"].ToString()</div>
}

<div class="col-md-8 col-md-offset-2" align="center">
    <h2>View Policies</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var categoryWithPolicyList in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="reviewedOne@(categoryWithPolicyList.Category.Id)">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#reviewed@(categoryWithPolicyList.Category.Id)" aria-expanded="true" aria-controls="reviewed@(categoryWithPolicyList.Category.Id)">
                            @categoryWithPolicyList.Category.Type
                        </a>
                    </h4>
                </div>
                <div id="reviewed@(categoryWithPolicyList.Category.Id)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="reviewedOne@(categoryWithPolicyList.Category.Id)">
                    <div class="panel-body">
                        <table class="table table-hover ">
                            <thead>
                            </thead>
                            <tbody>
                                @foreach (var policy in categoryWithPolicyList.PolicyList)
                                {
                                    <tr>
                                        <td>@policy.Title</td>

                                        <td>@Html.ActionLink("View Policy", "ViewSpecificPolicy", "HRPortal", policy, new { @class = "btn btn-info" })</td>
                                        <td>
                                            @using (Html.BeginForm("RemovePolicy", "HRPortal", FormMethod.Post))
                                            {
                                            @Html.Hidden("id", policy.Id)
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                            }
                                        </td>

                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
