﻿@{
    ViewBag.Title = "About";
}
<div class="page-header">
    <h1>
        About us - <small>a league managing company</small>
    </h1>
</div>
<div class="row">
    <div class="col-md-4 pull-left">
        <img src="~/Content/Images/basketball.jpg" class="img-responsive" style="max-height: 400px; max-width: 400px" />
    </div>
    <div class="col-md-8">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque iaculis rhoncus feugiat. Donec condimentum iaculis sapien nec dapibus.
            Nunc imperdiet risus justo, sit amet mollis nisi venenatis et. Praesent euismod a nisl ac placerat.
            Nunc euismod fringilla tortor. Vestibulum felis orci, pulvinar eget neque eget, ultrices finibus libero.
            Duis ut blandit arcu. Nullam porta a dui sit amet vestibulum. Etiam rhoncus laoreet ex eu pretium.
            Nam quis eros ac est laoreet lobortis eget in dolor. Curabitur vel convallis diam.
            Vestibulum dictum vehicula dolor et hendrerit. Aliquam cursus cursus felis, sed ultrices tortor cursus in.
        </p>
        <p>
            Nunc imperdiet risus justo, sit amet mollis nisi venenatis et. Praesent euismod a nisl ac placerat.
            Nunc euismod fringilla tortor. Vestibulum felis orci, pulvinar eget neque eget, ultrices finibus libero.
            Duis ut blandit arcu. Nullam porta a dui sit amet vestibulum. Etiam rhoncus laoreet ex eu pretium.
            Nam quis eros ac est laoreet lobortis eget in dolor. Curabitur vel convallis diam.
        </p>
        <p>
            Sed accumsan elit justo, id semper nunc finibus eu.
            Com sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Sed eu urna sem. Pellentesque nec tortor ac metus varius aliquet.
            Etiam suscipit, odio in mattis pharetra, libero dui tincidunt purus, non semper est ex sed enim.
            Pellentesque accumsan volutpat sapien, sit amet rhoncus sem egestas eu.
            Donec eget vehicula arcu. Duis tincidunt nec nisl sed maximus.
            Vivamus felis purus, varius non tempor aliquet, ultricies placerat tortor.
            Nam sit amet lacus dui. Proin at odio laoreet, sagittis enim quis, congue massa.
            Morbi ut pellentesque arcu, sed fermentum lectus.
        </p>
    </div>

</div>