﻿@{
    ViewBag.Title = "Contact";
}

<div class="page-header">
    <h1>
        Contact
    </h1>
</div>
<h4>Sports League Management</h4><br />
<address>
    Software Team<br />
    Redmond, WA 98052-6399<br/>
    <abbr title="Contact Number">P:</abbr>
    425-555-0100
</address>
<address>
    Support Team<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Contact Number">P:</abbr>
    544-345-2222
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Minh@SportsTM.com</a><br/>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Isiah@SportsTM.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Rob@SportsTM.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Steve@SportsTM.com</a>
</address>