﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Basketball League</h1>
    <p class="lead">Easily create and manage your league!</p>
    <p>@Html.ActionLink("Create Team", "CreateTeam", "Team", null, new {@class= "btn btn-info"})</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Nulla quis urna vitae ipsum congue tincidunt.
            Sed dictum, nulla ut gravida commodo, urna mauris bibendum nulla, quis faucibus lectus dolor id ex.
            Sed malesuada pretium sapien, eu vestibulum elit porttitor.
        </p>
        <p>
            @Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Check the schedule</h2>
        <p>
            Nulla quis urna vitae ipsum congue tincidunt.
            Sed dictum, nulla ut gravida commodo, urna mauris bibendum nulla, quis faucibus lectus dolor id ex.
            Sed malesuada pretium sapien, eu vestibulum elit porttitor.
        </p>
        <p>
            @Html.ActionLink("Schedule", "Index", "Game", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Current Teams</h2>
        <p>
            Nulla quis urna vitae ipsum congue tincidunt.
            Sed dictum, nulla ut gravida commodo, urna mauris bibendum nulla, quis faucibus lectus dolor id ex.
            Sed malesuada pretium sapien, eu vestibulum elit porttitor.
        </p>
        <p>
            @Html.ActionLink("The Teams", "ViewTeams", "League", null, new {@class = "btn btn-default"}) 
        </p>
    </div>
    
</div>