﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Content/Images/logo.png" style="max-height: 55px; max-width: 55px; margin-top: -15px">
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Teams
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("The Teams", "ViewTeams", "League")</li>
                            <li>@Html.ActionLink("Manage Teams", "TradePlayer", "Team")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Create Team", "CreateTeam", "Team")</li>
                        </ul>

                    </li>
                    <li>@Html.ActionLink("Games", "Index", "Game")</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="navbar-right">@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer class="footer navbar-fixed-bottom">
            <hr />
            <p style="text-align: center">&copy; @DateTime.Now.Year - League Management</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.9.0/validator.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
