﻿@model HRPortal.UI.Models.EmployeeAndListOfTimeSheet

@{
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="col-md-8 col-md-offset-2 panel panel-body">
    <div class="panel-body">
        <h2>Employee Summary</h2>
        <div class="form-control">
            <label>Employee Name : </label>
            @Model.Employee.LastName, @Model.Employee.FirstName
        </div>
        <div class="form-control">
            <label>Hire Date : </label>
            @Model.Employee.HireDate.ToString("MMM-dd-yyy")
        </div>
        <div class="form-control">
            <label>Total Hours Worked : </label>
            @Model.TotalHours
        </div>
        <hr/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Hours</td>
                    <td>Date</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            @foreach (var timeSheet in Model.TimesheetList)
            {
                <tr>
                    <td>@Model.Employee.FirstName, @Model.Employee.LastName</td>
                    <td>@timeSheet.Hours</td>
                    <td>@timeSheet.Date.ToString("MMM-dd-yyy")</td>
                    <td>
                        @using (Html.BeginForm("RemoveTimeSheet", "TimeSheet", FormMethod.Post))
                        {
                            <div class="form-group">
                                <input type="hidden" value="@timeSheet.Id" name="id" />
                                <input type="hidden" value="@timeSheet.EmpId" name="empId" />
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </div>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>