﻿@model HRPortal.UI.Models.EmployeeListAndTimeSheet

@{
    ViewBag.Title = "SubmitTimesheet";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="col-md-8 col-md-offset-2">
    <h2 align="center">Submit Timesheet</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("SubmitTimesheet", "TimeSheet", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <div align="center">
                    <label for="TimeSheet_EmpId">Employee : </label>
                    @* When Model coming in is different than model going out, you have to use Model.Attribute for the name -- TimeSheet.EmpId *@
                    <select name="TimeSheet.EmpId" id="TimeSheet_EmpId">
                        @foreach (var employee in Model.EmployeeList)
                        {
                            <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                        }
                    </select>
                    <p>@Html.LabelFor(m => m.TimeSheet.Date): @Html.EditorFor(m => m.TimeSheet.Date)</p>
                    <p>@Html.ValidationMessageFor(m => m.TimeSheet.Hours)</p>
                    <label>Hours Worked : </label>
                    @Html.TextBoxFor(m => m.TimeSheet.Hours)
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            }
        </div>
    </div>
</div>
