﻿@model List<Models.Employee>

@{
    ViewBag.Title = "ViewTimesheet";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="col-md-8 col-md-offset-2 panel panel-default">
    <div class="panel-body">
        <h2>View Timesheet</h2>
        @using (Html.BeginForm("ShowEmployeeInfo", "TimeSheet"))
            {
            <div align="center">
                <label>Employee : </label>
                <select name="empId">
                    @foreach (var employee in Model)
                    {
                        <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                    }
                </select>
                <p>
                    <button type="submit" class="btn btn-default">Submit</button>
                </p>
            </div>
        }
    </div>
</div>


