﻿@{
    ViewBag.Title = "Home Page";
}

<div id="errors">

</div>
@Html.Partial("_AddCarModal")
<button type="button" id="btnAddCar" class="btn btn-primary">Add Car</button>

<div class="row">
    <table class="table table-striped" id="carsTable">
        <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Condition</th>
            <th>Mileage</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="pictures">
   <div class="row"></div>
</div>
<div>
    <form id="imgUploadForm">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-warning btn-file">
                    Browse&hellip;<input id="fileUpload" name="files" type="file">
                </span>
                
            </span>
            <input type="text" class="form-control" placeholder="Image file" readonly>
        </div>

    </form>

</div>

@section scripts
{
    <script src="~/Scripts/app/ViewCars.js"></script>
    <script src="~/Scripts/app/CreateCar.js"></script>
    <script src="~/Scripts/app/UploadImage.js"></script>
    <script src="~/Scripts/app/uploadButton.js"></script>
}
