﻿@model SportsLeague.Model.Models.League

@{
    ViewBag.Title = "ViewTeams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">The Teams</h2>

<div class="boxContainer">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var team in Model.Teams)
        {
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #32B2FD" role="tab" id="headingOne@(team.TeamId)">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne@(team.TeamId)" aria-expanded="true" aria-controls="collapseOne@(team.TeamId)">
                            <div class="label center-block">@team.TeamName</div>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne@(team.TeamId)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne@(team.TeamId)">
                    <div class="panel-body">
                        @Html.ActionLink("Team Page", "TeamHomepage", "Team", new { @id = @team.TeamId}, new { @class = "center-block btn btn-warning" })
                        <table class="table table-striped">
                            <caption>Players</caption>
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Jersey Number</th>
                                <th>Position</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var player in team.Players)
                            {
                                <tr>
                                    <td>@player.FirstName</td>
                                    <td>@player.LastName</td>
                                    <td>@player.JerseyNumber</td>
                                    <td>
                                        |
                                        @foreach (var position in player.Positions)
                                        {
                                            <span>@position.PositionName |</span>
                                        }
                                    </td>
                                </tr>

                            }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
