﻿@model SportsLeague.UI.Models.GamePlayerStatsVM

@{
    ViewBag.Title = "GameResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GameResults</h2>

<div>
    Home Team:
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>Steals</th>
            <th>Assists</th>
            <th>Blocks</th>
            <th>Rebounds</th>
            <th>Minutes</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var player in Model.HomePlayers)
        {
            if (Model.GetPlayerStat(player) != null)
            {
                <tr>
                    <td>@player.FirstName @player.LastName</td>
                    <td>@Model.GetPlayerStat(@player).FGM</td>
                    <td>@Model.GetPlayerStat(@player).FGA</td>
                    <td>@Model.GetPlayerStat(@player).FTM</td>
                    <td>@Model.GetPlayerStat(@player).FTA</td>
                    <td>@Model.GetPlayerStat(@player).Steals</td>
                    <td>@Model.GetPlayerStat(@player).Assist</td>
                    <td>@Model.GetPlayerStat(@player).Blocks</td>
                    <td>@Model.GetPlayerStat(@player).Rebounds</td>
                    <td>@Model.GetPlayerStat(@player).Minutes</td>
                    <td>@Model.GetPlayerStat(@player).Points</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<div>
    Away Team:
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>Steals</th>
                <th>Assists</th>
                <th>Blocks</th>
                <th>Rebounds</th>
                <th>Minutes</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.AwayPlayers)
            {
                if (Model.GetPlayerStat(player) != null)
                {
                    <tr>
                        <td>@player.FirstName @player.LastName</td>
                        <td>@Model.GetPlayerStat(@player).FGM</td>
                        <td>@Model.GetPlayerStat(@player).FGA</td>
                        <td>@Model.GetPlayerStat(@player).FTM</td>
                        <td>@Model.GetPlayerStat(@player).FTA</td>
                        <td>@Model.GetPlayerStat(@player).Steals</td>
                        <td>@Model.GetPlayerStat(@player).Assist</td>
                        <td>@Model.GetPlayerStat(@player).Blocks</td>
                        <td>@Model.GetPlayerStat(@player).Rebounds</td>
                        <td>@Model.GetPlayerStat(@player).Minutes</td>
                        <td>@Model.GetPlayerStat(@player).Points</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>