﻿@model SportsLeague.UI.Models.TeamGameVm

@{
    ViewBag.Title = "Index";
}

<div>
    <div>

        <h2>
            Game Schedule <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
                Add Game
            </button>
        </h2>

    </div>
    <div class="clearfix visible-sm visible-md visible-lg"></div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Game</h4>
                </div>
                @using (Html.BeginForm("AddGame", "Game", FormMethod.Post, new { id = "modalForm" }))
                {
                    @Html.ValidationSummary()
                    <div class="modal-body">
                        <div class="row">
                            <div style="text-align: center">
                                <label>Game Date</label>
                            </div>
                        </div>
                        <div class="row">
                            <div style="text-align: center">
                                <input class="text-box single-line" id="NewGame_GameDate" name="NewGame.GameDate" type="date" onchange="checkDropDowns();" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4">Home Team :</label>
                            <label class="col-md-4 col-md-offset-4">Away Team:</label>
                        </div>
                        <div class="row">
                            @Html.DropDownListFor(m => m.NewGame.HomeTeamId, Model.TeamListItems, null, new {@class="col-md-4", id = "ddl1", onchange= "checkDropDowns();"})
                            @Html.DropDownListFor(m => m.NewGame.AwayTeamId, Model.TeamListItems, null, new { @class = "col-md-4 col-md-offset-4", id = "ddl2", onchange = "checkDropDowns();"})
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btnAdd">Add Game</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@foreach (var item in Model.GameList)
{
    <div class="gameBox">
        <div class="row">
            <div class="Home col-lg-4">
                HOME
            </div>
            <div class="date col-lg-4">
                @item.GameDate.ToShortDateString()
            </div>
            <div class="Home col-lg-4">
                AWAY
            </div>
        </div>
        <div class="row">
            <div class="Home mainLetter col-lg-4">
                @Model.GetGameHomeTeam(item).Substring(0, 1)
            </div>
            <div class="vs col-lg-4">
                VS
            </div>
            <div class="Away mainLetter col-lg-4">
                @Model.GetGameAwayTeam(item).Substring(0, 1)
            </div>
        </div>
        <div class="row">
            <div class="Home col-lg-4">
                @Model.GetGameHomeTeam(item)
            </div>
            <div class="vs col-lg-4">
                
                @Html.ActionLink("View Results", "GameResults", "Game", new {@id = item.GameId}, new {@class = "btn btn-info"})
            </div>
            <div class="Away col-lg-4">
                @Model.GetGameAwayTeam(item)
            </div>
        </div>
    </div>

}

@section scripts{
    <script>
        $(document).ready(function () {
            $('#modalForm').validate({
                rules: {
                    '@Html.NameFor(m=>m.NewGame.GameDate)': {
                        required: true
                    }
                }
            });
            $('#ddl1').change(
                checkDropDowns()
            );
            $('#ddl2').change(
                checkDropDowns()
            );
            $('#NewGame_GameDate').change(
                checkDropDowns()
            );

        });

        function checkDropDowns() {
            if ($('#ddl1').val() == $('#ddl2').val()) {
                $('#btnAdd').prop('disabled', true);
            } else {
                var date = new Date();
                date.setDate(date.getDate() - 1);
                var gameDate = $('#NewGame_GameDate').val();
                var gameDate2 = new Date(gameDate);
                if (gameDate2 >= date){
                    $('#btnAdd').prop('disabled', false);
                } else {
                    $('#btnAdd').prop('disabled', true);
                }
            }

        }
    </script>
}
